Flask~=3.1.0
Jinja2~=3.1.5
yt-dlp~=2025.3.31
MarkupSafe~=3.0.2
Werkzeug~=3.1.3
blinker~=1.9.0
click~=8.1.8
itsdangerous~=2.2.0
ebooklib~=0.18
ebooklib~=0.18
requests~=2.32.3
validators~=0.34.0
pandas~=2.2.3
beautifulsoup4
html5lib
fake-useragent
chinese-converter
pinyin