<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% if prog_dict|length > 0 %}
{% block header %}
<div>
    <button class="button" style="float: right;" onclick="stop_all()">Stop all</button>
    <button class="button" style="float: right; margin-right: 1em" onclick="clear_completed()">Clear completed</button>
    <h3>{% block title %}Downloading/converting progress:{% endblock %}</h3>
</div>
{% endblock %}
<div id="info">
    {% for k, v in prog_dict.items() %}
    <label class="gray">{{ k }} {{ v.title }}</label>
    <div class="progress" data-label="{{ v.info }}">
        <span class="value" style="{{ v.color + v.width }}"></span>
    </div>
    <button class="button" value="{{ k }}" id="{{ k }}" style="float: right;" onclick="switch_task(event)">{{ v.switch }}</button>
    <button class="button" value="{{ v.error }}" style="float: right; margin-right: 1em" onclick="show_error(event)">
        Show Error
    </button>
    <br>
    <br>
    {% endfor %}
</div>
{% endif %}