<!doctype html>
<head>
    <title>Flask Dynamic Data</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script>
        function validate_path(event) {
            console.log(event.target);
            $.post("/update_dir", {id:event.target.id, dir:event.target.value}, function(response) {
                event.target.className = event.target.className.replace(" warn", "")
                if (response.code === 200) {
                    console.log("Updating dir: " + event.target.id + " = " + event.target.value);
                } else {
                    event.target.className = event.target.className + " warn"
                    alert("Failed updating dir: " + event.target.id + " = " + event.target.value + " code = " + response.code)
                }
            })
        }
    </script>
</head>
<title>{% block title %}{% endblock %} - XXM Toolbox</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1><a href="{{ url_for('index') }}">XXM Toolbox</a></h1>
</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>