{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}- Download EBook and send to Kindle:{% endblock %}</h2>
<div class="right">
    <div>
        <label class="gray" for="ebook_dir">Save ebook to: </label>
        <input class="gray" id="ebook_dir" name="ebook_dir" value="{{ ebook_dir }}" onfocusout="validate_path(event)"/>
    </div>
</div>
{% endblock %}

{% block content %}
<form action="javascript:processEbook()" method="post">
    <div>
        <label for="ebook_url">EBook</label>
        <input type="url" name="ebook_url" value="" id="ebook_url" placeholder="http://ebook_url" style="min-width: 30em;" required>
        <button>Choose text file</button>
    </div>
    <div>
        <label for="author">Author</label>
        <input name="author" value="" id="author" placeholder="optional">
    </div>
    <div>
        <label for="cover">Cover</label>
        <input name="cover" value="" id="cover" placeholder="http://cover_url" style="min-width: 30em;">
        <button>Choose image</button>
    </div>
    <input type="submit" value="Submit">
</form>
<script>
    function processEbook() {
        console.log("processing ebook ");
    }
</script>
{% endblock %}