<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<a href="{{ url_for('ebook') }}">
  <button type="button">< Back</button>
</a>
{% block header %}
<div>
  <h3 style="margin-bottom: 0">{% block title %}Existing files:{% endblock %}</h3>
</div>
<div style="font-size: 0.85em">
  <input type="checkbox" id="select_all" name="select_all" onchange="select_deselect(this)" style="margin-left: 20px">
  <label for="select_all">Select all</label>
  <input type="checkbox" id="revert" name="revert" onchange="revert_selected()" style="margin-left: 10px">
  <label for="revert">Revert</label>
  <label for="sort_by" style="margin-left: 440px">Sort by</label>
  <select name="sort_by" id="sort_by">
    <option value="date">Date: Old &rarr; New</option>
    <option value="date">Date: New &rarr; Old</option>
    <option value="size">Size: Small &rarr; Large</option>
    <option value="size">Size Large &rarr; Small</option>
  </select>
  <label for="filter_by" style="margin-left: 10px;">Filter by</label>
  <select name="filter_by" id="filter_by">
    <option value="tags">Tags</option>
    <option value="author">Author</option>
    <option value="rating">Rating</option>
  </select>
</div>
{% endblock %}
<div style="padding-left: 12px">
  {% if files|length == 0 %}
  <p style="color: gray">no files found<p>
  {% endif %}
  {% for file_name, file_info in files.items() %}
  <table>
    <tr class="{{ loop.cycle('files_odd', 'files_even') }}">
      <td style="width: 2%">
        <input id="{{ file_name }}" type="checkbox" name="file_checkbox">
      </td>
      <td>
        <p style="color: black" oncontextmenu="onItemMenu(event)">{{ file_name }}</p>
        {% for file_type, file_path in file_info.items() %}
        <td style="width: 4%">
          {% if file_path|length > 0 %}
          <a href="{{ url_for('ebk_download', file_path=file_path) }}" download="">{{ file_type }}</a>
          {% else %}
          <a style="color: lightgray">{{ file_type }}</a>
          {% endif %}
        </td>
        {% endfor %}
      </td>
    </tr>
  </table>
  {% endfor %}
</div>
<div id="contextMenu" class="context-menu" style="display:none">
  <ul>
    <li id="preview">Preview</li>
    <li id="edit" style="border-top: 1px solid darkgray">Edit</li>
    <li id="convert">Convert</li>
    <li id="email">Email</li>
    <li id="delete">Delete file</li>
    <li id="convert_all" style="border-top: 1px solid darkgray">Convert selected</li>
    <li id="email_all">Email selected</li>
    <li id="delete_all">Delete selected</li>
  </ul>
</div>
<div id="preview_content" style="display:none;">
  <p style="background-color: #c9c9c9; width: 100%; height:100%">Preview contentPreview contentPreview contentPreview contentPreview contentPreview content</p>
</div>
<script>
  document.onclick = hideItemMenu

  function hideItemMenu() {
    document.getElementById("contextMenu").style.display = "none"
  }

  function onItemMenu(event) {
    event.preventDefault();
    let menu = document.getElementById("contextMenu")
    if (menu.style.display === "block")
      hideItemMenu();
    else {
      menu.style.display = 'block';
      menu.style.left = event.pageX + "px";
      menu.style.top = event.pageY + "px";
      document.getElementById("preview").onclick = function handle_preview() {
        preview(event);
      }
    }
  }

  function preview(event) {
    let file_name = event.target.innerText;
    console.log(file_name);
    let view = document.getElementById("preview_content");
    view.style.display = "block";
  }

  function revert_selected() {
    let all = document.getElementsByName("file_checkbox");
    for (let i = 0; i < all.length; i++) {
      all[i].checked = !all[i].checked;
    }
  }

  function select_deselect(target) {
    let select = false;
    if (target.checked)
      select = true;
    let all = document.getElementsByName("file_checkbox");
    for (let i = 0; i < all.length; i++) {
      all[i].checked = select
    }
  }
</script>