{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}- Download Youtube Video:{% endblock %}</h2>
<div class="right">
    <div>
        <label class="gray" for="video_dir">Save video to: </label>
        <input class="gray" id="video_dir" name="video_dir" value="{{ video_dir }}" onfocusout="validate_path(event)"/>
        <select class="gray" style="width:26px" onchange="folder_selected(event)">
            {% for folder in video_folders %}
            <option value={{ folder }}>{{ folder }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label class="gray" for="audio_dir">Save audio to: </label>
        <input class="gray" id="audio_dir" name="audio_dir" value="{{ audio_dir }}" onfocusout="validate_path(event)"/>
        <select class="gray" style="width:26px" onchange="folder_selected(event)">
            {% for folder in audio_folders %}
            <option value={{ folder }}>{{ folder }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endblock %}

{% block content %}
<form action="javascript:start_task()" method="post">
    <label for="youtube_url">Youtube Url</label>
    <input type="url" name="youtube_url" value="" id="youtube_url" required>
    <div class="right">
        <label class="gray" for="playlist_items">Playlist items:</label>
        <input type="text" name="playlist_items" placeholder="e.g. 1:3,7,-5::2" id="playlist_items">
    </div>
    <label class="gray">Select Video/Audio format to be extracted.</label>
    <div>
        <input type="radio" id="video" name="output_type" value="video" checked/>
        <label class="radio" for="video">Video</label>
        <input type="radio" id="audio" name="output_type" value="audio"/>
        <label class="radio" for="audio">Audio</label>
    </div>
    <label class="gray">Select Video resolution.</label>
    <div>
        <input type="radio" id="high" name="resolution" value="1080"/>
        <label class="radio" for="high">1080</label>
        <input type="radio" id="mid" name="resolution" value="720" checked/>
        <label class="radio" for="mid">720</label>
        <input type="radio" id="low" name="resolution" value="480"/>
        <label class="radio" for="low">480</label>
    </div>
    <input type="submit" value="Submit">
</form>
<div id="prog"></div>
<script>

    setInterval(update, 1000);
    function update() {
        $("#prog").load("/progress");
    }

    function start_task() {
        let url = document.getElementById("youtube_url").value
        console.log("Starting task: " + url);
        const json_data = {
            "url": url,
            "audio": document.getElementById("audio").checked,
            "resolution": document.querySelector('input[name="resolution"]:checked').value,
            "playlist_items": document.getElementById("playlist_items").value,
            "action": "start"
        };
        $.post("/task_maker", json_data, function(response) {
            if (response.code === 200) {
                console.log("Started task: " + url);
            } else {
                window.alert(response.message);
            }
            update();
        });
    }

    function switch_task(event) {
        let url = event.target.value
        let action = event.target.innerText.toLowerCase()
        console.log(action + " task: " + url);
        const json_data = {
            "url": url,
            "action": action,
        }
        $.post("/task_maker", json_data, function(response) {
            if (response.code === 200) {
                console.log("Done " + action + " task: " + url);
            } else {
                window.alert(response.message);
            }
        });
    }

    function clear_completed() {
        console.log("Clear tasks");
        const json_data = {
            "action": "clear"
        }
        $.post("/task_maker", json_data, function(response) {
            if (response.code === 200) {
                console.log("Clear completed tasks");
            } else {
                window.alert(response.message);
            }
        });
    }

    function stop_all() {
        console.log("Stop all tasks");
        const json_data = {
            "action": "stop_all"
        }
        $.post("/task_maker", json_data, function(response) {
            if (response.code === 200) {
                console.log("Stopped all ongoing tasks");
            } else {
                window.alert(response.message);
            }
        });
    }

    function show_error(event) {
        window.alert(event.target.value)
    }
</script>
{% endblock %}
