{% extends 'base.html' %}

{% block header %}
<h2>{% block title %}- Download Youtube Video:{% endblock %}</h2>
<div class="right">
    <div>
        <label class="gray" for="video_dir">Save video to: </label>
        <input class="gray" id="video_dir" name="video_dir" value="{{ video_dir }}" onfocusout="validate_path(event)"/>
    </div>
    <div>
        <label class="gray" for="audio_dir">Save audio to: </label>
        <input class="gray" id="audio_dir" name="audio_dir" value="{{ audio_dir }}" onfocusout="validate_path(event)"/>
    </div>
</div>
{% endblock %}

{% block content %}
<form action="javascript:addElement()" method="post">
    <label for="youtube_url">Youtube Url</label>
    <input type="url" name="youtube_url" value="" id="youtube_url" required>
    <label>Select Video/Audio format to be extracted.</label>
    <div>
        <input type="radio" id="video" name="output_type" value="video" checked/>
        <label class="radio" for="video">Video</label>
        <input type="radio" id="audio" name="output_type" value="audio"/>
        <label class="radio" for="audio">Audio</label>
    </div>
    <input type="submit" value="Submit">
</form>
<div id="info">
</div>
<script>
    function uuidv4() {
        return "10000000-1000-4000-8000-100000000000".replace(/[018]/g, c =>
            (+c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> +c / 4).toString(16)
        );
    }
    function hook(uuid, progress, bar) {
        const prog_url = "/progress_data/" + uuid;
        const id = setInterval(frame, 500);
        const json_data = {
            "url": document.getElementById("youtube_url").value,
            "format": document.getElementById("video").checked
        };

        function frame() {
            $.getJSON(prog_url, json_data, function(res){
                if (res.cur != null) {
                    bar.style.width = res.cur + "%";
                }
                if (res.error) {
                    progress.setAttribute("data-label", res.title + " downloading error: " + res.error);
                    progress.setAttribute("style", "color:red");
                    clearInterval(id);
                } else if (res.cur === 100) {
                    progress.setAttribute("data-label", res.label + " downloading completed!");
                    clearInterval(id);
                } else {
                    progress.setAttribute("data-label", res.label + " downloading " + res.cur + "%");
                }
            });
        }
    }
    function addElement() {
        if (document.getElementById("youtube_url").value === "") {
            return;
        }
        let uuid = uuidv4();
        console.log(uuid);
        const progress = document.createElement("div");
        progress.className="progress";
        progress.setAttribute("id", "prog" + uuid);
        progress.setAttribute("data-label", "Initializing...")

        const bar = document.createElement("span");
        bar.className="value";
        bar.setAttribute("id", uuid);
        bar.setAttribute("style", "width:0%");

        progress.appendChild(bar);

        document.getElementById("info").appendChild(progress);
        document.getElementById("info").appendChild(document.createElement("br"));

        hook(uuid, progress, bar);
    }
</script>
{% endblock %}
